{% extends "main.html" %}
{% block content %}
<h2 class="form-title">Data</h2>

<table class="table table-fluid">
        <tr>
            <th>Data</th>
            <th>Voir</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
        {% for Data in object_list %}
        <tr>
            <td>{{ Data }}</td>
            <td><a href="{% url "data_detail" Data.id %}">Voir</a></td>
            <td><a href="{% url "data_update" Data.id %}">Editer</a></td>
            <td><a href="{% url "data_delete" Data.id %}">Supprimer</a></td>
        </tr>
        {% endfor %}
</table>
</div>

<a href="{% url "data_create" %}">New</a>
{% endblock content %}